@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

/* MIXINS START */
@mixin c-font {
    font-family: 'Agdasima', Tahoma, Geneva, Verdana, sans-serif;
}

/* MIXINS END */


/* Globals */
a {
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
}


a:hover {
    color: black;
}

body {
    background-color: #F0F0F0;
}

marquee>* {
    overflow: hidden;
}

.dark-section {
    padding: 8px 16px;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.c_container {
    padding: 0% 5%;
}

.get-img {
    background: url('../imgs/Star.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 38px;
    height: 38px;
}

.c_hidden {
    display: none !important;
}

.close-product {
    cursor: pointer;
}

.close-product-parent {
    position: fixed;
    top: 10%;
    right: -90%;
    z-index: 10;
}

#description,
#tech_specs {
    cursor: pointer;
}

.hide-product {
    display: none !important;
}

.description_underline {
    border-bottom: 1px solid #535353;
}

.c_header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0rem;
    border-bottom: #0000006c 2px solid;

    >div {
        width: 25%;

        img {
            height: 2rem !important;
        }
    }

    div:nth-of-type(2) {
        width: 50%;

        ul {
            display: flex;
            list-style: none;

            li {
                margin-left: .5rem;
                margin-right: .5rem;

                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}



#description,
#tech_specs,
#shipping_warranty {
    transition: .3s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#description:hover,
#tech_specs:hover,
#shipping_warranty:hover {
    background-color: #00000031;
}

#current_details {
    border-bottom: 1px solid 00000031;
}

.rounded_borders {
    border-radius: 10px;
}

.rounded_borders_15 {
    border-radius: 15px;
}

.fit_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.line_height {
    line-height: 20px;
    font-size: 17.5px;
}

.white_glowbox {
    box-shadow: 1px 5px 21px -3px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 5px 21px -3px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px 5px 21px -3px rgba(255, 255, 255, 0.75);
}

#banner {
    background: linear-gradient(0deg, rgba(16, 43, 38, 0.20) 0%, rgba(16, 43, 38, 0.20) 100%), url('../imgs/Overlay.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    color: white;
    height: 350px;

    p {
        font-weight: 900;
        font-size: 2.5rem;
    }
}

#footer {
    background-color: #102B26;
    color: white;
}

.splide__arrow {
    display: none;
}

.splide__slide>div {
    width: 21rem;
    height: 13rem;
}

.splide__slide {
    margin: 1rem;
}

.c_btn {
    padding: .5rem 1.5rem;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: .3rem;
    font-size: 14px;
    transition: .5s ease;
}

.c_btn:hover {
    color: white;
    box-shadow: 1px 5px 21px -3px rgba(43, 43, 43, 0.75);
    -webkit-box-shadow: 1px 5px 21px -3px rgba(43, 43, 43, 0.75);
    -moz-box-shadow: 1px 5px 21px -3px rgba(43, 43, 43, 0.75);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#contact_divider {
    display: none;
}

@media only screen and (max-width: 1023px) {
    /* Product Review */

    .prod-review {
        flex-direction: column !important;
    }

    .prod-review-topside {
        flex-direction: column-reverse !important;
    }

    .prod-review-topside>div:first-child {
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center;
        width: 100%;
    }

    .prod-review-topside>div:first-child>* {
        margin: 0;
        padding: 0;
        margin-left: .6rem;
    }

    .prod-review-topside>div:last-child>img,
    .prod-review-topside>div:last-child>iframe {
        width: 300px !important;
    }

    .product-prebot>div:first-child {
        flex-direction: column-reverse !important;
    }

    .product-prebot>div:first-child>div:last-child img {
        width: 100% !important;
        height: auto !important;
    }

    .product-review-bot {
        flex-direction: column !important;
    }

    .product-review-bot>div {
        width: 90% !important;
    }

    /* -- */

    #support_big_cam_img img {
        display: none !important;

    }

    #support_big_cam_img {
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 600px) {

    /* Globals */
    :root {
        font-size: 14px !important
    }

    a {
        font-size: 1.1rem !important;
    }

    /* -- */

    /* Pop-ups */

    #about-us>div,
    #FAQs-pos>div,
    #contact-pos>div,
    #review-pos>div {
        width: 90% !important;
    }

    #contact-pos>div>div:last-child {
        flex-direction: column-reverse !important;
    }

    #contact-post>div>div:last-child>div {
        height: auto;
        margin-bottom: 1rem !important;
    }

    #contact_divider {
        display: block !important;
    }

    #review-pos>div>div:last-child {
        justify-content: center !important;
        align-items: center !important;
    }

    #review-pos>div>div:last-child>div:last-child {
        justify-content: center !important;
        align-items: center !important;
    }

    /* -- */

    /* Header */

    /* -- */

    /* Products */

    #products_list>div {
        width: 100% !important;
        /* -webkit-box-shadow: 0 3px 5px #33333300 !important;
	    -moz-box-shadow: 0 3px 5px #33333300 !important;
    	box-shadow: 0 3px 5px #33333300 !important; */
        overflow: hidden;
    }

    #product_list>div>a>img {
        object-fit: contain;
        object-position: center;
        border-radius: 15px !important;
    }

    /* Contact Us */





    #support_big_cam_img>div>div>a {
        padding: .5rem 1rem !important;
        font-size: 16px;
    }

    /* -- */

    /* Footer */

    #footer>div {
        flex-direction: column;
    }

    #footer>div>div:first-child {
        justify-content: center !important;
        align-items: center !important;
    }

    /* -- */

    /* Flags */
    .flags {
        padding: 0px !important;
    }

    /*  */
}

@media only screen and (max-width: 520px) {
    .c_header {
        flex-direction: column;

        >div {
            width: auto !important;
            margin: 0.8rem;
        }

        ul {
            width: auto;
        }
    }

}

@media only screen and (max-width: 415px) {
    #banner {
        p {
            font-size: 1.5rem;
        }
    }
}