@import url("https://fonts.googleapis.com/css2?family=Agdasima&display=swap");
/* MIXINS START */
/* MIXINS END */
/* Globals */
a {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: black;
}

body {
  background-color: #F0F0F0;
}

marquee > * {
  overflow: hidden;
}

.dark-section {
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c_container {
  padding: 0% 5%;
}

.get-img {
  background: url("../imgs/Star.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 38px;
  height: 38px;
}

.c_hidden {
  display: none !important;
}

.close-product {
  cursor: pointer;
}

.close-product-parent {
  position: fixed;
  top: 10%;
  right: -90%;
  z-index: 10;
}

#description, #tech_specs {
  cursor: pointer;
}

.hide-product {
  display: none !important;
}

.description_underline {
  border-bottom: 1px solid #535353;
}

.c_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0rem;
  border-bottom: rgba(0, 0, 0, 0.4235294118) 2px solid;
}
.c_header > div {
  width: 25%;
}
.c_header > div img {
  height: 2rem !important;
}
.c_header div:nth-of-type(2) {
  width: 50%;
}
.c_header div:nth-of-type(2) ul {
  display: flex;
  list-style: none;
}
.c_header div:nth-of-type(2) ul li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.c_header div:nth-of-type(2) ul li a {
  font-size: 1.2rem;
}

#description,
#tech_specs,
#shipping_warranty {
  transition: 0.3s ease;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#description:hover,
#tech_specs:hover,
#shipping_warranty:hover {
  background-color: rgba(0, 0, 0, 0.1921568627);
}

#current_details {
  border-bottom: 1px solid 31;
}

.rounded_borders {
  border-radius: 10px;
}

.rounded_borders_15 {
  border-radius: 15px;
}

.fit_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.line_height {
  line-height: 20px;
  font-size: 17.5px;
}

.white_glowbox {
  box-shadow: 1px 5px 21px -3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 5px 21px -3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px 5px 21px -3px rgba(255, 255, 255, 0.75);
}

#banner {
  background: linear-gradient(0deg, rgba(16, 43, 38, 0.2) 0%, rgba(16, 43, 38, 0.2) 100%), url("../imgs/Overlay.png"), lightgray 50%/cover no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  color: white;
  height: 350px;
}
#banner p {
  font-weight: 900;
  font-size: 2.5rem;
}

#footer {
  background-color: #102B26;
  color: white;
}

.splide__arrow {
  display: none;
}

.splide__slide > div {
  width: 21rem;
  height: 13rem;
}

.splide__slide {
  margin: 1rem;
}

.c_btn {
  padding: 0.5rem 1.5rem;
  background-color: black;
  color: white;
  border-radius: 50px;
  margin-top: 0.3rem;
  font-size: 14px;
  transition: 0.5s ease;
}

.c_btn:hover {
  color: white;
  box-shadow: 1px 5px 21px -3px rgba(43, 43, 43, 0.75);
  -webkit-box-shadow: 1px 5px 21px -3px rgba(43, 43, 43, 0.75);
  -moz-box-shadow: 1px 5px 21px -3px rgba(43, 43, 43, 0.75);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

#contact_divider {
  display: none;
}

@media only screen and (max-width: 600px) {
  /* Globals */
  :root {
    font-size: 14px !important;
  }
  a {
    font-size: 1.1rem !important;
  }
  /* -- */
  /* Pop-ups */
  #about-us > div,
  #FAQs-pos > div,
  #contact-pos > div {
    width: 90% !important;
  }
  #contact-pos > div > div:last-child {
    flex-direction: column-reverse !important;
  }
  #contact-post > div > div:last-child > div {
    height: auto;
    margin-bottom: 1rem !important;
  }
  #contact_divider {
    display: block !important;
  }
  /* -- */
  /* Header */
  /* -- */
  /* Products */
  #products_list > div {
    width: 100% !important;
    /* -webkit-box-shadow: 0 3px 5px #33333300 !important;
    -moz-box-shadow: 0 3px 5px #33333300 !important;
    box-shadow: 0 3px 5px #33333300 !important; */
    overflow: hidden;
  }
  #product_list > div > a > img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    border-radius: 15px !important;
  }
  /* Contact Us */
  #support_big_cam_img {
    flex-direction: column !important;
  }
  #support_big_cam_img img {
    display: none !important;
  }
  #support_big_cam_img > div > div > a {
    padding: 0.5rem 1rem !important;
    font-size: 16px;
  }
  /* -- */
  /* Footer */
  #footer > div {
    flex-direction: column;
  }
  #footer > div > div:first-child {
    justify-content: center !important;
    align-items: center !important;
  }
  /* -- */
}
@media only screen and (max-width: 520px) {
  .c_header {
    flex-direction: column;
  }
  .c_header > div {
    width: auto !important;
    margin: 0.8rem;
  }
  .c_header ul {
    width: auto;
  }
}
@media only screen and (max-width: 415px) {
  #banner p {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */